<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<div class="wrapper">
    <h2>Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" name="code" placeholder="Tasdiqlash kodini kiriting!">
        </div>
        <div class="input-box button">
            <button type="submit"
                    style="width: 100%; padding: 10px; letter-spacing: 1px; background: #dfa974; border: none; cursor: pointer">
                Login
            </button>
        </div>
    </form>
</div>
</body>
</html>


