<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
<div class="wrapper">
    <h2>Ro'yhatdan o'tish</h2>
    <form action="#" method="post">
        {% csrf_token %}
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <div class="input-box">
                <input type="text" name="first_name" placeholder="Ismingiz">
            </div>
              <div class="input-box">
                <input type="text" name="last_name" placeholder="Familiyangiz">
            </div>
            <div class="input-box">
                <input type="tel" name="phone" placeholder="telefon raqamingiz">
            </div>
            <div class="input-box">
                <input type="password" name="password1" placeholder="Parol">
            </div>
            <div class="input-box">
                <input type="password" name="password2" placeholder="Parolni tasdiqlash">
            </div>

            <div class="input-box button">
                <button type="submit" style="width: 100%; padding: 10px; letter-spacing: 1px; background: #dfa974; border: none; cursor: pointer">Sign Up</button>
            </div>
            <div class="text">
                <h3>Foydalanuvchi profilingiz allaqachon bormi? <a href="{% url 'login' %}">Login </a></h3>
            </div>
        {% endif %}
    </form>
</div>
</body>
</html>
